<?xml version="1.0"?>
<launch>
	<remap from="front_camera/image_raw" to="rowbot/image_raw" />
	<remap from="usb_cam_1/image_raw" to="rowbot/image_raw" />
	<node name="usb_cam_1" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="camera_name" value="front_camera" />
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap" />
	</node>
	<node name="image_server_1" pkg="rowbot_vision" type="ImageServer.py" output="screen">
		<param name="debug_level" value="full" />
	</node>
	<!-- <include file="$(find rowbot_navigation)/launch/joy_control.launch"/> -->
	<!-- <include file="$(find rowbot_rviz)/launch/viz.launch"/> -->
</launch>
