<?xml version="1.0"?>
<launch>


	<node name="vidtest" pkg="rowbot_vision" type="filetest.py" output="screen"/>
	<node name="image_server_1" pkg="rowbot_vision" type="ImageServer.py" output="screen">
		<param name="debugBuoy" value="51" />
	</node>
	<!-- <include file="$(find rowbot_navigation)/launch/joy_control.launch"/> -->
	<!-- <include file="$(find rowbot_rviz)/launch/viz.launch"/> -->
</launch>
