<launch>
    <node name="front_camera" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="camera_name" value="front_camera" />
		<param name="video_device" value="/dev/video1" />
		<param name="image_width" value="1280" />
		<param name="image_height" value="720" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap" />
	</node>
	<node name="left_camera" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="camera_name" value="left_camera" />
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="1280" />
		<param name="image_height" value="720" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap" />
	</node>
	<node name="right_camera" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="camera_name" value="right_camera" />
		<param name="video_device" value="/dev/video2" />
		<param name="image_width" value="1280" />
		<param name="image_height" value="720" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap" />
	</node>
	<node type="object_server.py" pkg="rowbot_vision" name="object_server" output="screen"/>
</launch>